
<!--<link href='/css/category_master_css.css' rel='stylesheet'>-->



<!--content heading-->
<h1 style='text-align:center;'><a class='heading-link' href='/'><i class="fa fa-home" aria-hidden="true"></i></a>HOME</h1>

<!--Category-view-Block-->
<div class='style-category-view'>

    <article id='category-view-article'>

        <h3 class='main-heading'>All MY CATEGORIES:</h3>

        <ul class='category-list'>

            <% if(categorylist.length==0) { %>

                <li>No Categories Added</li>

            <% }else{ %>

                <% for (let item of categorylist) { %>
                    <li class='category-list-item'>
                        <p class='category-name'><a href='/task/<%= item.name %>'><%= item.name %></a></p>
                        <p class='tasks-number'><span>Pending Tasks:</span><%= item.tasks.length %> </p>
                        <div class='item-button-holder'>
                            <button class='delete-category'><a href='category/delete/<%= item.name %>'>DELETE</a></button>
                            <button class='rename-category'>RENAME</button>
                        </div>
                    </li>
                <% } %>

            <% } %>
        </ul>

        <div class='button-holder'>
            <button class='manage-category big-blue-button'>MANAGE CATEGORY</button>
        </div>

    </article>

</div>

<div class='manage-category-forms'>
    <!--Category Add Block-->
    <div class='create-category form-div'>

        <article id='create-category-form-article'>
            
            <h3 class='form-heading'>Create Your category here:</h3>

            <form class='create-category-form main-form' action='/category/create' method='get'>
                <div class='form-item'>
                    <label id='category-name'>Category:</label>
                    <input id='category-name' type='text' name='name' placeholder='Your Category' required/>
                </div>
                <div class='form-item'>
                    <input class='task-submit' type='submit' value="Add">
                </div>
            </form>
        </article>
    </div>

    <!--RENAME CATEGORY-->
    <div class='update-category form-div'>

        <article id='update-category-form-article'>

            <h3 class='form-heading'>Rename Category:</h3>

            <form class='rename-category-form main-form' action='/category/rename' method='get'>
                <div class='form-item'>
                    <input type='hidden' name='org'>
                </div>
                <div class='form-item'>
                    <label id='category-name'>Category:</label>
                    <input type='text' name='name'/ value='Click Rename Button' required readonly>
                </div>
                <div class='form-item'>
                    <input class='task-submit' type='submit' value="Submit">
                </div>
            </form>
        </article>
    </div>

</div>
    
<!--<script src='/js/category_script_master.js'></script>-->