<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Category</title>
</head>
<body>
    <!--content heading-->
    <h1>CATEGORY MANAGEMENT</h1>

    <!--Category-view-Block-->
    <article id='category-view-article'>
        <h3>All MY CATEGORIES:</h3>
        <ul class='category-list'>

            <% if(categorylist.length==0) { %>

                <li>No Categories Added</li>

            <% }else{ %>

                <% for (let item of categorylist) { %>
                    <li class='category-list-item'>
                        <p class='category-name'><%= item.name %> </p>
                        <p class='category-name'><%= item.tasks.length %> </p>
                        <button class='delete-category'><a href='category/delete/<%= item.name %>'>DELETE</a></button>
                        <button class='rename-category'>RENAME</button>
                    </li>
                <% } %>

            <% } %>
        </ul>
    </article>

    <!--Category Add Block-->
    <article id='create-category-form-article'>
        <h3>Create Your category here:</h3>
        <form class='create-category-form' action='/category/create' method='get'>
            <div>
                <input type='text' name='name' placeholder='Your Category' required/>
            </div>
            <div>
                <input type='submit' value="Add">
            </div>
        </form>
    </article>

    <!--RENAME CATEGORY-->
    <article id='update-category-form-article'>
        <h3>RENAME CATEGORY:</h3>
        <form class='rename-category-form' action='/category/rename' method='get'>
            <input type='hidden' name='org'>
            <div>
                <input type='text' name='name'/>
            </div>
            <div>
                <input type='submit' value="Submit">
            </div>
        </form>
    </article>
    <script src='/js/category_script_master.js'></script>
</body>
</html>