<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <!--project heading-->
    <h1>MY TODO LIST</h1>

    <!--form to fill task details-->
    <article id='form-article'>
        <h3>Create Your task here:</h3>
        <form action='/task/create/'>
            <div>
                <input type='text' name='name' placeholder='Input new task here'/>
            </div>
            <div>
                <input type='date' name='deadline'>
            </div>
            <div>
                <select name='category'>

                </select>
            </div>
            <div>
                <input type='submit' value="create">
            </div>
        </form>
    </article>
</body>
</html>