<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <!--project heading-->
    <h1>MY TODO LIST</h1>
    <article id='all-tasks-collection'>
        <form action='/' method='get'>
            <select name='category'>
            <% for (let category of categories){ %>
                <option value='<%= category.name %>'><%= category.name %></option>
            <% } %>
            </select>
            <input type="submit" value='SUBMIT'>
        </form>
        <button><a href='/category'>MANAGE CATEGORIES</a></button>
    </article>
</body>
</html>