/* body-heading */
.heading-link{
    color:var(--dark-blue)
}

/* category list view */
.style-category-view{
    overflow:auto;
    max-height:80vh;
    margin:0 auto;
    width:40%;
    padding:0.3rem;
}

.category-list{
    padding:1rem;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    max-height:40vh;
    overflow:auto;
}

.category-list-item{
    border:1px dotted var(--dark-blue);
    min-width:15vw;
    border-top-left-radius:1.5rem 20%;
    border-bottom-right-radius:1.5rem 20%;
    padding:0.3rem;
    margin-bottom:1rem;
}

.category-name{
    text-align:center;
    font-size:0.9rem;
    margin:0.7rem auto;
}

.category-name > a{
    padding:0.4rem 0.8rem;
    background-color:var(--dark-blue);
    border-radius:1rem;
}

.category-name > a:hover{
    background-color:var(--white);
    color:var(--dark-blue);
}

.tasks-number{
    text-align:center;
    color:var(--dark-blue);
    font-size:0.9rem;
    background-color:var(--white);
    font-weight:bolder;
    padding:0.7rem;
    margin:0.7rem auto;
    border-radius:50%;
    width:60%;
}

.item-button-holder{
    display:flex;
    justify-content:space-evenly;
}

.delete-category,.rename-category{
    background-color:var(--dark-blue);
    color:white;
    border:1px outset white;
    cursor:pointer;
    padding:0.5rem 0.7rem;
    border-radius:50%;
}

.button-holder{
    display:flex;
    justify-content:center;
}

.create-category{
    margin-top:1rem;
}
/* category list view */

.create-category-form-wrapper,.rename-category-form-wrapper{
    margin-bottom:1rem;
}

.create-category-form-wrapper{
    top:3rem;
}

.rename-category-form-wrapper{
    top:20rem;
}
