:root{
    /*my color combination */
    --light-blue:#6699FF;
    --medium-blue:#3366CC;
    --dark-blue:#003399;
    --white:#FFFFFF;

    /*font-families*/
    --font-normal:'Open Sans', sans-serif;
}

body{
    background-image:linear-gradient(to bottom right,var(--light-blue)1%,var(--white)99%);
    background-repeat:no-repeat;
    color:var(--dark-blue);
    font-family:var(--font-normal);
    height:100vh;
    margin:0;
}


.heading-link{
    color:var(--dark-blue)
}


.style-category-view{
    overflow:auto;
    max-height:80vh;
    margin:0 auto;
    width:40%;
    padding:0.3rem;
}

.style-category-view h3{
    text-align:center;
    text-decoration:underline;
    font-style:italic;
}

.category-list{
    margin:0;
    padding:1rem;
    list-style-type:none;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    max-height:40vh;
    overflow:auto;
}

.category-list-item{
    border:1px dotted var(--dark-blue);
    min-width:15vw;
    border-top-left-radius:1.5rem 20%;
    border-bottom-right-radius:1.5rem 20%;
    padding:0.3rem;
    margin-bottom:1rem;
}

.category-name{
    text-align:center;
    font-size:0.9rem;
    margin:0.7rem auto;
}

.category-name > a{
    display:inline-block;
    padding:0.4rem 0.8rem;
    color:white;
    background-color:var(--dark-blue);
    text-decoration:none;
    font-weight:bolder;
    border-radius:1rem;
}

.category-name > a:hover{
    background-color:var(--white);
    color:var(--dark-blue);
}

.tasks-number{
    text-align:center;
    color:var(--dark-blue);
    font-size:0.9rem;
    background-color:var(--white);
    font-weight:bolder;
    padding:0.7rem;
    margin:0.7rem auto;
    border-radius:50%;
    width:60%;
}

.item-button-holder{
    display:flex;
    justify-content:space-evenly;
}

.delete-category,.rename-category{
    background-color:var(--dark-blue);
    color:white;
    border:1px outset white;
    cursor:pointer;
    padding:0.5rem 0.7rem;
    border-radius:50%;
}

.delete-category > a{
    text-decoration:none;
    display:inline-block;
    color:white;
}

.button-holder{
    display:flex;
    justify-content:center;
}

.manage-category{
    background-color:var(--dark-blue);
    color:white;
    box-shadow:0 4px 8px 0 var(--dark-blue), 0 6px 20px 0 var(--light-blue);
    padding:0.7rem 2rem;
    border:none;
    cursor: pointer;
    margin-top:1rem;
}


.manage-category-forms{
    position:absolute;
    top:6rem;
    font-size:0.8rem;
    transform:translateX(-100%);
    transition:transform 0.3s ease-in;
}

.manage-category-forms-appear{
    transform:translateX(0%);
}

.create-category,.update-category{
    border:2px solid var(--dark-blue);
    margin-bottom:1rem;
}

/* this portion is identical to task_master_css */

.create-category h3,.update-category h3{
    background-color:var(--dark-blue);
    color:white;
    margin:0;
}

.create-category-form,.rename-category-form{
    padding:0.15rem;
}

.form-item{
    display:flex;
    padding:0.5rem;
    justify-content:space-between;
}

.form-item>label{
    font-weight:bold;
    padding:0.5rem;
}

.form-item input{
    padding:0.4rem;
    border-radius:0.5rem;
    border:none;
}

.task-submit{
    background-color:var(--dark-blue);
    color:white;
    cursor: pointer;
}
/* this portion is identical to task_master_css */