#project-heading{
    text-align:center;
    text-decoration:underline;
    font-style:italic
}

.collection{
    margin:5rem auto;
    width:50%;
}

.hooks{
    display:flex;
    justify-content:space-evenly;
}

.hooks > button{
    align-self:center;
}

.intro-form{
    border:1px dotted var(--dark-blue)
}

.form-item #choose-category{
    width:150px;
}
